<Files admin.php>
AuthName "Authorize only"
AuthType Basic
AuthUserFile C:/OpenServer/domains/bookshop/.htpasswd
require valid-user
</Files>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteBase /~user13/REST/autoShopAPI/

# get request api by type
RewriteRule ^api/([a-zA-Z]+)\.([a-z]{3,4})$ index.php?c=api&a=$1&rtype=$2 [L,QSA]
# get request api
RewriteRule ^api/([a-zA-Z/]+)(/([0-9]+))?$ index.php?c=api&a=$1&id=$3 [L,QSA]
